## .gitignore -- Voeg in dit bestand de namen toe van bestanden die niet in
## het versiebeheersysteem thuis horen. Tekstpatronen (*, ?, ...) kunnen ook.

# Editor backup files
.*~
*~
*.bak

# Virtual machine files
*.iso
*.box
*.ova
*.vmdk

# Hidden Vagrant-directory
.vagrant
weekrapport/weekhours_*.pdf
Vagrant/.vagrant/machines/DebianELK/virtualbox/id
Vagrant/.vagrant/machines/DebianELK/virtualbox/index_uuid
Vagrant/.vagrant/machines/DebianELK/virtualbox/vagrant_cwd
